<h1>New Product</h1>

<%= form_for @product do |f| %>
  <div>
    <%= f.label :name, "Product Name" %>
    <%= f.text_field :name %>
  </div>

  <h3>Attributes</h3>

  <% attributes = params.dig(:product, :product_attributes) || [{}] %>

  <% attributes.each do |attr| %>
    <div>
      <%= text_field_tag "product[product_attributes][][key]", attr[:key], placeholder: "Attribute name" %>
      <%= text_field_tag "product[product_attributes][][value]", attr[:value], placeholder: "Attribute value" %>
    </div>
  <% end %>

  <div>
    <%= submit_tag "Add Another Attribute", name: "add_more_attributes" %>
    <%= f.submit "Create Product" %>
  </div>
<% end %>

<%= link_to 'Back to Products', products_path %>